@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility classes */
.page-container {
  width: 80%;
  margin: 0 auto;
}

.scroll-container {
  /* overflow: hidden; */
}

body {
  /* overflow: hidden; */
}

::-webkit-scrollbar {
  width: 9px;
  height: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}




/* Handle */
::-webkit-scrollbar-thumb {
  background: #288fd33f;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #288fd3b0;
}

.buttons {
  background-color: black;
  border: none;
  color: whitesmoke;

}

.buttons:hover {
  background: rgb(1, 4, 13);
  background: linear-gradient(90deg, rgba(1, 4, 13, 1) 30%, rgba(28, 40, 45, 1) 53%, rgb(19, 20, 20) 100%, rgba(29, 253, 205, 1) 100%);
  color: whitesmoke;

}



.nav-links {

  font-size: 1.4rem;
  border-bottom: 2px solid black;
}

.profile {
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 50%;

}

.nav-links:hover {
  border-top: 2px solid black;

}

.Header {

  box-shadow: rgba(143, 3, 3, 0.1) 0px 10px 15px -3px, rgba(116, 2, 2, 0.05) 0px 4px 6px -2px;


  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}


body {
  /* letter-spacing: 1px; */
}

.Footer {
  border: 3px solid rgb(223, 204, 240);
  position: absolute;
  background-color: #020a18;
  background-image: linear-gradient(315deg, #70a1ff 0%, #c2c0c0 74%);
  font-size: larger;

}


.edit-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(7, 10, 27);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.edit-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  display: none;
  content: "Edit";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

/* delete icon */
.delete-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(221, 4, 4);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;

}
.cards{
  min-height: 33rem;
}
.delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.delete-button::before {
  display: none;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}




/* Custom radio button style */
.radio-dot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  margin-right: 12px;
  display: inline-block;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.profile-container {
  position: absolute;

  top: 0.3%;
  right: 6%;
}

/* Use background image for the checked state */
input[type="radio"]:checked+.radio-dot {
  background-image: url("https://t4.ftcdn.net/jpg/03/06/58/87/240_F_306588739_MMAbQ9FqfqOy1YXYupNmNXPvbabemtTy.jpg");
  background-size: cover;

  background-color: green;

  border: none;

}

/* Hide the default radio dot when checked */
input[type="radio"]:checked+.radio-dot::before {
  content: "";

}


body .container input[type="radio"]:checked+.radio-dot {
  /* Add more specific styles if necessary */
}

.question-container label {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.name {
  background-image: url("https://i.stack.imgur.com/IPUzy.jpg");
  background-size: cover;

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.cards{
  width: 18rem;
}
/* medial queries */
/* Home page */


.quiz-container {
  width: 90vw;
  font-size: 18px;
  top: -1px;
 /* background-color: #9ea4adf1; */

}
body{
  /* background-color: red; */
}
.result-form{
  

  width: 80vw;
  margin-left: 29px;
}
.quiz-container h1 {

  font-size: 1.5rem;
}

.question-container label{
  height: 60px;
  width: 40%
  
}
.question-container button {
  width: 20%;
 
}
.my-quiz{
   
  max-width: 90%;

 
   }
.result img{
  width: 20vw;
height: 20%;
margin-left: 35%;

}

.name-form span{
  font-size: 1.2rem;
  /* letter-spacing: 4px; */
  line-height: 30px;
}
  .name-form {
    margin-right: 4px;
    font-size: 1.5rem;
    width:40%;
    padding: 29px;
    box-shadow: none;
    height: 40%;
    /* padding: 3px; */
  }
  .name-form h1{
    /* padding-left: -10px; */
    margin-left: -10px;
    font-size: 20px;
  }
  .name-form button ,.name-form input{
    width: 90%;
    margin-top: 2rem;
  }

  .singleform-container {
    font-size: 0.9rem;
 
  
    /* margin-right: 0px; */
   
   
   
  }

  .singleform-container {
    width: 90vw;
margin-left: 10px;

  }
 

  .edit-modal div {
    margin-left: 10px;
    margin-top: -0.2rem;
    margin-bottom: -0.2rem;
}
@media (min-width: 551px) and (max-width: 768px) {
 
    .Header{
      width:100vw;
    

      
    }
    .Header button {
  
      font-size: 1.2rem;
      margin-top: 8px;
      margin-left: 70px;
    }
  
    .Header img {
      width: 70px;
      margin-left: 30px;
    }
  .cards {
    font-size: 1.1rem;
  
  bottom: 30px;
  }
  .cards button{
    font-size: 1rem;
  }

  .card{
    
    height:630px;
    width:19rem;
  }
  
    .singleform-container {
      font-size: 0.9rem;
      display: inline-block;
    
      margin-right: 0px;
     
     
     
    }
  
    .singleform-container div {
      width: 80vw;
  
  
    }
  
    .my-quiz{
   
   max-width: 100%;
 
  
    }
    .my-quiz h1{
      font-size: 1.7rem;
    }
    .create-quiz-btn{
    
      width: 170px;
      margin: 0;
    }
    .delete-modal{
      padding:3rem;
      margin: 1rem;
      font-size: 1.3rem;
      height: 20%;
    }
    .delete-modal div {
  
      margin-right: 32px;
      font-size: 1.7rem;
     
      align-items: center;
      justify-content:center;
    }
    .delete-modal h1{
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    
    .edit-modal div{
      margin-left: 10px;
    }
  .name-form span{
    font-size: 1.2rem;
    /* letter-spacing: 4px; */
    line-height: 30px;
  }
    .name-form {
      margin-right: 4px;
      font-size: 1.5rem;
      width:80%;
      padding: 29px;
      box-shadow: none;
      height: 40%;
      /* padding: 3px; */
    }
    .name-form h1{
      padding-left: -10px;
      margin-left: -10px;
      font-size: 20px;
    }
    .name-form button ,.name-form input{
      width: 360px;
      margin-top: 2rem;
    }
    
    
    
    .quiz-container button {
      width: 100px;
    
      font-size: 20px;
    }
    
    .quiz-container {
      width: 90vw;
      font-size: 18px;
      top: -1px;
     background-color: #020a18f1;

    }
   
    .result-form{
      
   
      width: 80vw;
      margin-left: 29px;
    }
    .quiz-container h1 {
    
      font-size: 1.5rem;
    }
    
    .question-container label {
      height: 78px;
      width: 80%
      
    }
    
    .quiz-container button {
      width: 150px;
      font-size: 15px;
      height: 50px;
    
    }
    .result-btns button{
     font-size: large;
      margin-left: -1px;
     
    }
    .result div button{
      
      width: 220px;
    }
    .result img{
      width: 170px;
    height: 240px;
    margin-left: 20px;
  
    }
    
    
    .score{
      font-size: 20px;
    }
    
  }


@media (max-width:  550px) {
  .Header{
    width:533px;
  

    
  }
  .Header button {

    font-size: 1rem;
    margin-top: 8px;
    margin-left: 70px;
  }

  .Header img {
    width: 70px;
    margin-left: 30px;
  }
.cards{


bottom: 30px;
}

  .singleform-container {
    font-size: 0.9rem;
    display: inline-block;
  
    margin-right: 0px;
   
   
   
  }

  .singleform-container div {
    width: 490px;


  }

  .my-quiz{
 
 max-width: 518px;
  /* border: 1px solid black; */

  }
  .my-quiz h1{
    font-size: 1.7rem;
  }
  .create-quiz-btn{
  
    width: 170px;
    margin: 0;
  }
  .delete-modal{
    padding:3rem;
    margin: 1rem;
    font-size: 1rem;
    height: 230px;
  }
  .delete-modal div {

    margin-right: 32px;
    font-size: 1.7rem;
   
    align-items: center;
    justify-content:center;
  }
  .delete-modal h1{
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  
  .edit-modal div{
    margin-left: 10px;
  }
.name-form span{
  font-size: 1rem;
  letter-spacing: 1.2px;
}
  .name-form {
    margin-right: 4px;
    font-size: 1.5rem;
    width: 457px;
    padding: 19px;
    box-shadow: none;
    height: 400px;
    /* padding: 3px; */
  }
  .name-form h1{
    padding-left: -10px;
    margin-left: -10px;
  }
  .name-form button ,.name-form input{
    width: 360px;
    margin-top: 2rem;
  }
  
  
  
  .quiz-container button {
    width: 100px;
  
    font-size: 20px;
  }
  
  .quiz-container {
    width: 560px;
    font-size: 18px;
    top: -1px;
   
  }
  
  .quiz-container h1 {
  
    font-size: 1.5rem;
  }
  
  .question-container label {
    height: 78px;
    min-width: 80px;
    
  }
  
  .quiz-container button {
    width: 150px;
    font-size: 15px;
    height: 50px;
  
  }
  .result-btns button{
   font-size: large;
    margin-left: -1px;
   
  }
  .result div button{
    
    width: 220px;
  }
  .result img{
    width: 170px;
  height: 240px;
  margin-left: 20px;

  }
  
  .result-form{
    
 
    width: 360px;
    margin-left: -29px;
  }
  .score{
    font-size: 20px;
  }
  
}
@media (max-width:  520px) {
  .Header{
    width:520px;
  

    
  }
  .Header button {

    font-size: 1rem;
    margin-top: 8px;
    margin-left: 70px;
  }

  .Header img {
    width: 70px;
    margin-left: 30px;
  }
.cards{


bottom: 30px;
}

  .singleform-container {
    font-size: 0.9rem;
    display: inline-block;
  
    margin-right: 0px;
   
   
   
  }

  .singleform-container div {
    width: 460px;


  }

  .my-quiz{
 
  width:518px;

  }
  .my-quiz h1{
    font-size: 1.7rem;
  }
  .create-quiz-btn{
  
    width: 170px;
    margin: 0;
  }
  .delete-modal{
    padding:3rem;
    margin: 1rem;
    font-size: 1rem;
    height: 230px;
  }
  .delete-modal div {

    margin-right: 32px;
    font-size: 1.7rem;
   
    align-items: center;
    justify-content:center;
  }
  .delete-modal h1{
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  
  .edit-modal div{
    margin-left: 10px;
  }
.name-form span{
  font-size: 1rem;
  letter-spacing: 1.2px;
}
  .name-form {
    margin-right: 4px;
    font-size: 1.5rem;
    width: 447px;
    padding: 19px;
    box-shadow: none;
    height: 360px;
    /* padding: 3px; */
  }
  .name-form h1{
    padding-left: -10px;
    margin-left: -10px;
  }
  .name-form button ,.name-form input{
    width: 360px;
  }
  
  
  
  .quiz-container button {
    width: 100px;
  
    font-size: 20px;
  }
  
  .quiz-container {
    width: 500px;
    font-size: 18px;
    top: -1px;
   
  }
  
  .quiz-container h1 {
  
    font-size: 1.5rem;
  }
  
  .question-container label {
    height: 70px;
    min-width: 260px;
    
  }
  
  .quiz-container button {
    width: 140px;
    font-size: 14px;
    height: 50px;
  
  }
  .result-btns button{
   font-size: large;
    margin-left: -1px;
   
  }
  .result div button{
    
    width: 220px;
  }
  .result img{
    width: 100px;
  height: 140px;
  margin-left: 114px;

  }
  
  .result-form{
    
 
    width: 360px;
    margin-left: -29px;
  }
  .score{
    font-size: 20px;
  }
  
}
@media (max-width:  400px) {
  .Header{
    width: 380px;
  

    
  }
  .Header button {

    font-size: 0.8rem;
    margin-top: 8px;
    margin-left: 70px;
  }

  .Header img {
    width: 50px;
    margin-left: 140px;
  }
.cards{


bottom: 30px;
}
  .singleform-container {
    font-size: 0.9rem;
    display: inline-block;
  
    margin-right: 0px;
   
   
   
  }

  .singleform-container div {
    width: 370px;


  }

  .my-quiz{
 
  width:375px;


  }
  .my-quiz h1{
    font-size: 1.7rem;
  }
  .create-quiz-btn{
  
    width: 170px;
    margin: 0;
  }
  .delete-modal{
    padding:3rem;
    margin: 1rem;
    font-size: 1rem;
  }
  .delete-modal h1{
    font-size: 1.3rem;
  }
  .delete-modal div {
font-size: 1.3rem;
  }
  .edit-modal div{
    margin-left: 10px;
  }

  .name-form {
    margin-right: 4px;
    font-size: 1.5rem;
    width: 347px;
    padding: 19px;
    box-shadow: none;
    height: 360px;
    
  }
  .name-form h1{
    padding-left: -10px;
    margin-left: -10px;
  }
  
  
  
  
  .quiz-container button {
    width: 100px;
    font-size: 20px;
  }
  
  .quiz-container {
    width: 400px;
    font-size: 14px;
    top: -1px;
   
  }
  
  .quiz-container h1 {
  
    font-size: 20px;
  }
  
  .question-container label {
    height: 50px;
    width: 260px;
    
  }
  
  .quiz-container button {
    width: 140px;
    font-size: 14px;
    height: 50px;
  
  }
  .result-btns button{
   font-size: large;
    margin-left: -1px;
   
  }
  .result div button{
    
    width: 220px;
  }
  .result img{
    width: 100px;
  height: 140px;
  margin-left: 114px;

  }
  
  .result-form{
    
 
    width: 360px;
    margin-left: -29px;
  }
  .score{
    font-size: 20px;
  }
  
}
@media (max-width:  375px) {
  .Header{
    width: 373px;
   

    
  }
  .Header button {

    font-size: 0.8rem;
    margin-top: 8px;
    margin-left: 70px;
  }

  .Header img {
    width: 50px;
    margin-left: 140px;
  }
.cards{

bottom: 30px;
}
  .singleform-container {
    font-size: 0.8rem;
    display: inline-block;
  
    margin-right: 0px;
   
   
   
  }

  .singleform-container div {
    width: 350px;
  }

  .my-quiz{
 
  width:370px;
 

  }
  .my-quiz h1{
    font-size: 1.7rem;
  }
  .create-quiz-btn{
  
    width: 170px;
    margin: 0;
  }
  .delete-modal{
    padding:3rem;
    margin: 1rem;
    font-size: 1rem;
  }
  .delete-modal h1{
    font-size: 1.3rem;
  }
  .delete-modal div {
font-size: 1.3rem;
  }
  .edit-modal div{
    margin-left: 10px;
  }

  .name-form {
    margin-right: 4px;
    font-size: 1.4rem;
    width: 340px;
    padding: 19px;
    box-shadow: none;
    height: 360px;
    /* padding: 3px; */
  }
  .name-form h1{
    padding-left: -10px;
    margin-left: -10px;
  }
  
  
  
  
  .quiz-container button {
    width: 100px;
    font-size: 20px;
  }
  
  .quiz-container {
    width: 400px;
    font-size: 14px;
    top: -1px;
   
  }
  
  .quiz-container h1 {
  
    font-size: 20px;
  }
  
  .question-container label {
    height: 50px;
    width: 260px;
    
  }
  
  .quiz-container button {
    width: 140px;
    font-size: 14px;
    height: 50px;
  
  }
  .result-btns button{
   
    margin-left: -1px;
   
  }
  .result div button{
    
    width: 220px;
  }
  .result img{
    width: 100px;
  height: 140px;
  margin-left: 114px;

  }
  
  .result-form{
    
 
    width: 360px;
    margin-left: -29px;
  }
  
}
@media (max-width: 360px) {
  .Header{
    width: 360px;

    
  }
  .Header button {

    font-size: 0.7rem;
    margin-top: 8px;
    margin-left: 70px;
  }

  .Header img {
    width: 50px;
    margin-left: 140px;
  }

  .singleform-container {
    font-size: 0.8rem;
    display: inline-block;
  
    margin-right: 0px;
   
   
   
  }

  .singleform-container div {
    width: 340px;
  }

  .my-quiz{
 
  width:360px;


  }
  .my-quiz h1{
    font-size: 1.9rem;
  }
  .create-quiz-btn{
  
    width: 170px;
    margin: 0;
  }
  .delete-modal{
    padding:3rem;
    margin: 1rem;
    font-size: 1rem;
  }
  .delete-modal h1{
    font-size: 1.3rem;
  }
  .delete-modal div {
  
    margin-left: -62px;
    font-size: 1.3rem;
  }
  .edit-modal div{
    margin-left: 10px;
  }

  .name-form {
    margin-right: 4px;
    font-size: 1.3rem;
    width: 320px;
    padding: 19px;
    box-shadow: none;
    height: 360px;
    /* padding: 3px; */
  }
  .name-form h1{
    padding-left: -10px;
    margin-left: -10px;
  }
  
  
  
  
  .quiz-container button {
    width: 100px;
    font-size: 20px;
  }
  
  .quiz-container {
    width: 400px;
    font-size: 13px;
    top: -1px;
    
  }
  
  .quiz-container h1 {
  
    font-size: 18px;
  }
  
  .question-container label {
    height: 40px;
    width: 260px;
    
  }
  
  .quiz-container button {
    width: 140px;
    font-size: 14px;
    height: 50px;
  
  }
  .result-btns button{
   
    margin-left: -1px;
   
  }
  .result div button{
    
    width: 220px;
   
    /* background-color: #020a18; */
    
  }
  .result img{
    width: 100px;
  height: 140px;
  margin-left: 114px;

  }
  .profile-container{
    /* margin-top: 200px; */
  }
  
}
@media (max-width: 200px) {
  .Header{
    width: 308px;
    
    
  }
  .Header button {

    font-size: 0.7rem;
    margin-top: 8px;
    margin-left: 50px;
  }

  .Header img {
    width: 50px;
    margin-left: 100px;
  }

 .Footer{
  width: 300px;

 }

.singleform-container {
    font-size: 0.8rem;
    display: inline-block;
  
    margin-right: 0px;
   
   
   
  }

  .singleform-container div {
    width: 290px;
  }


  /* my quiz */

.my-quiz{

width:308px;


}
.my-quiz h1{
  font-size: 1.9rem;
}
.create-quiz-btn{

  width: 170px;
  margin: 0;
}
.delete-modal{
  padding:3rem;
  margin: 1rem;
  font-size: 1rem;
}
.delete-modal h1{
  font-size: 1.3rem;
}
.delete-modal div {

  margin-left: -62px;
  font-size: 1.3rem;
}
.edit-modal div{
  margin-left: 10px;
}

/* play quiz */
.name-form {
  margin-right: 4px;
  font-size: 1.3rem;
  width: 190px;
  padding: 10px;
  box-shadow: none;
  height: 300px;
}
.name-form h1{
  padding-left: -10px;
  margin-left: -10px;
}




.quiz-container button {
  width: 100px;
  font-size: 20px;
}

.quiz-container {
  width: 400px;
  font-size: 13px;
  
}

.quiz-container h1 {

  font-size: 18px;
}

.question-container label {
  height: 40px;
  width: 160px;
}

.quiz-container button {
  width: 140px;
  font-size: 14px;
  height: 50px;

}
.result-btns button{
  /* background-color: red; */
  margin-left: -1px;
}
.result{
  width: 120px;
  top: -1px;
  
}
.result img{
  width: 100px;
height: 140px;
margin-left: 9px;
}

}
@media (min-width:1118px){
  footer{
    width: 100vw;
  top: 100%;
  bottom: 0%;
  }
}

@media (max-width:2000px){
  
    .name-form {
     
      margin-right: 4px;
      font-size: 1.5rem;
      width: 447px;
      padding: 59px;
      box-shadow: none;
      height: 50%;
      margin-right: 10px;
      margin: 40px;
     
    
    }
    .name-form h1{
      /* padding-left: -10px; */
      margin-left: -10px;
      font-size: 20px;
      
    }
    .name-form button ,.name-form input{
      width: 80%;
      /* margin-top: 2rem; */
    }
    .name-form span{
     
      margin-right: 70px;
    }

}